


@media screen and (min-width: 480px) and (max-width: 767px) {
    .a {
        background-color: lightblue;
    }

    .b {
        background-color: lightgreen;
    }

    .c {
        background-color: lightgoldenrodyellow;
    }

    .d {
        background-color: lightgrey;
    }

    .e {
        background-color: lightcyan;
    }

    .f {
        background-color: lightcoral;
    }

    .g {
        background-color: lightskyblue;
    }

    .h {
        background-color: lightcyan;
    }

    .i {
        background-color: lightseagreen;
    }
}

@media screen and (min-width: 768px) {
    .i {
        background-color: lightblue;
    }

    .h {
        background-color: lightgreen;
    }

    .g {
        background-color: lightgoldenrodyellow;
    }

    .e {
        background-color: lightgrey;
    }

    .f {
        background-color: lightcyan;
    }

    .d {
        background-color: lightcoral;
    }

    .c {
        background-color: lightskyblue;
    }

    .b {
        background-color: lightcyan;
    }

    .a {
        background-color: lightseagreen;
    }
}